* {
    box-sizing: border-box;
}

.container-question {
    background-color: whitesmoke;
    border-radius: 25px;
    padding: 25px;
}

.popup-wraper {
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    height: 100vh;
    left: 0%;
    position: fixed;
    top: 0%;
    width: 100vw;
    z-index: 4;
}

.popup {
    background-color: white;
    border-radius: 25px;
    margin: 10% auto;
    padding: 20px;
    position: relative;
    text-align: center;
    width: 80%;
}

.popup-close {
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 5px;
}

.popup-title {
    font-weight: bold;
}

.popup-paragraph {
    font-size: 1.25rem;
    font-weight: bold;
}

.highlight-wrong-answer {
    background-color: rgba(255, 0, 0, 0.1);
}

.highlight-right-answer {
    background-color: rgba(0, 255, 0, 0.1);
}

@media screen and (min-width: 768px){
    .popup {
        background-color: white;
        border-radius: 25px;
        margin: 10% auto;
        padding: 20px;
        position: relative;
        text-align: center;
        width: 30%;
    }
}